[2017-06-30 10:29] marcban opened #1 "Errors are rendered as plain text even when requesting JSON"
When there are exceptions raised by the body handler (for example JSON description not conform to the body type), they are rendered as plain text, not JSON, although the content-type is `application/json` as expected

it would be interesting to have a way to customize the output for exceptions.

(tested on 0.2 - Great project by the way!)

[2017-06-30 10:42] drejc commented on #1
Thanks for reporting.
Could you provide a unit test, showing the behaviour, so I can fix it.
Just fork and create a pull request or send me a patch.

On Fri, 30 Jun 2017 at 12:29, marcban <notifications@github.com> wrote:

[2017-06-30 11:01] marcban commented on #1
to be short, the line that write the response is in RestRouter.java, line 266:

 `response.setStatusCode(exception.getStatusCode()).end(exception.getMessage());`

so it seems on purpose. In my case I would like a result like `{"status:"ERROR","message":"the exception message"}` but may be that's not the case for everyone

A way to let the user choose his own format for exceptions response  would b

[2017-06-30 11:27] drejc commented on #1
Will look into it, probably a global Rest error handler / message writer is
the best solution. Then you can hook up your own writer to handle edge
cases like this.

On Fri, 30 Jun 2017 at 13:01, marcban <notifications@github.com> wrote:

[2017-06-30 11:54] marcban commented on #1
thank you. I think this project is very a good answer for quickly developing rest API with VertX !

[2017-07-03 17:18] drejc commented on #1
# Error handling
Unhandled exceptions can be addressed via a designated _ExceptionHandler_:
1. for a given method path
1. for a given root path
1. globally assigned to the RestRouter

If no designated exception handler is provided, a default exception handler kick
in using the response type writer associated with the given method.

## Path / Method error handler
Both class and methods support **@C

[2017-07-03 17:18] #1 closed

[2017-07-04 07:38] marcban commented on #1
...thanks a lot!

[2017-07-04 08:13] drejc commented on #1
No problem ... this part was completely missing.
Maybe a way to bind handlers to certain response codes ... aka a 404 handler, 406 handler would be a handy solution. Maybe in the next iteration.

[2017-07-17 09:24] marcban opened #2 "Add a way to set common logic in rest handlers"
In my application, web service are multi-tenant, so they all look the same

[code]

``doAsTenant`` sets a thread local with the tenant id to protect access to resources.

Do you think it would be possible to add a common logic directly in the rest handlers, in order to keep only the business logic in the web service class ? For example, have a pre and post step for each service, set in RestRouter

[2017-07-17 09:35] drejc commented on #2
If I understand correctly you would like a pre/post filter every response goes through ... which alters the request / response ? In case the filter matches some criteria ... ?

... the Pre filtering can be done via an additional vert.x handler where some custom context is set (pushed into vert.x @Context is set). See: https://github.com/zandero/rest.vertx#pushing-a-custom-context

For post filteri

[2017-07-17 09:52] marcban commented on #2
thank you for the quick answer.  As an example, here is the kind of "decoration" I would like to add to the rest handler

[code]
This is a handler decorator, (it returns a handler from a handler).

The idea is to do like in popular framework (Spring Security for example), i.e add global data to thread local, before processing request, so that internal functions can access the user info for data pr

[2017-07-17 10:12] drejc commented on #2
I see ... hm ...
the @Context (as per vert.x is thread local on it own) ... so anything pushed into the context via a handler is request based. So if you push this into the @Context than it will be visible only to the  handling request.

Under the hood RestRouter calls:
[code]
where object in this case is your User object instance.

For instance ...

[code]

You can push anything you fancy into th

[2017-07-17 10:40] marcban commented on #2
I see, in that case il would allow me to use my own ``User`` class instead of the vertx auth user.
...but if still have to repeat the ``doAsTenant`` on every method, which I wanted to avoid.

I tried to add a handler before the rest one, to put the user in thread local, but it does'nt work, as my service are blocking, and blocking handlers are in a different thread.

Anyway, I understand this is m

[2017-07-17 11:04] drejc commented on #2
Yes this is the idea behind vert.x ... RestRouter utilizes vert.x as far as possible ...

Will think about an option to use a custom annotation to push the context / skip manual Context handlers ... so everything is one place ... (would also come handy if different context handlers are needed for different RESTs).

Will close this issue for now.

[2017-07-17 11:04] #2 closed

[2017-07-17 11:37] marcban commented on #2
...One way of doing it without adding  new global functios/optionsn could be to have a `RestRouterBuilder` class, with a "fluent" api, instead of static functions on RestRouter.

in that case, it would be easier to add options to the router:

[code]

For compatibilty , RestRouter static functions would use a static RestRouterBuilder member.

[2017-07-17 11:38] drejc commented on #2
Great idea ... will add this to feature list ... :) see here:https://github.com/zandero/rest.vertx/projects/1

[2017-07-17 12:23] marcban commented on #2
thanks again!

[2017-07-18 08:29] marcban commented on #2
(after thinking on the API last night)
a more "fluent" RestRouterBuilder API would be

[code]

not a big deal anyway..

[2017-07-18 09:03] drejc commented on #2
Will be included in some form on the next release.
Today I have pushed a new release with improved type safety and revamped exception handling.  The exception handling API has slightly changed and simplified.

[2017-07-20 09:01] marcban opened #3 "Allow methods without @Path annotation (JAX-RS compatibilty)"
in JAX-RS, methods annotated with ``@GET``, ``@POST``, ``@PUT``, or ``@DELETE`` don't need a ``@PATH`` annotation if class already has one (they will get the path from the class).

For the moment, such methods are not added to the router by ``RestRoute.register``, you need to add a ``@Path("/")``.

[2017-07-20 09:05] drejc commented on #3
This is correct @Path is used to find the REST methods ... should probably also consider if there is only GET, POST .. present.
Nice catch ... will fix in the next release.

[2017-07-20 16:07] marcban opened #4 "Allows to use @QueryParam with classes that have a String constructor (JAX-RS compatibility)"
according to JAX-RS doc, the type of a query parameter can:

- Be a primitive type
- Have a constructor that accepts a single String argument
- Have a static method named valueOf or fromString that accepts a single String argument (see, for example, Integer.valueOf(String))
- Have a registered implementation of ParamConverterProvider JAX-RS extension SPI that returns a ParamConverter instance capa

[2017-07-20 16:09] marcban commented on #4
Note : I tried with the classical timestamp example
http://www.developerscrappad.com/2308/java/java-ee/rest-jax-rs/java-rest-jax-rs-2-0-how-to-handle-date-time-and-timestamp-data-types/

[2017-07-20 19:56] drejc commented on #4
RequestReader is intended for POST, PUT body request reading not for query parameters.
However basic primitive type Query parameters should work (int, boolean, String ...).

The other points on the list will be included on the ToDo

[2017-07-21 20:43] drejc commented on #3
https://github.com/zandero/rest.vertx/commit/eb1ed2324f33d61a6967ae35a72a51a3a658f493
https://github.com/zandero/rest.vertx/commit/3894bc0b7f116303b5346c236a5648733f08be58

[2017-07-21 20:43] #3 closed

[2017-07-24 11:19] marcban commented on #2
I tested the new Exception API, simpler and very clean indeed !

[2017-07-24 20:18] drejc commented on #2
Thanks ...

[2017-07-29 13:12] drejc commented on #4
rest.vertx tries to initialize a class:
* converting String to primitive type if class is a String or primitive type
* using a single String constructor
* using a single primitive type constructor if given String can be converted to the specific type
* using static method _fromString(String value)_ or _valueOf(String value)_

It **does not**:
* initialize with a registered implementation of ParamC

[2017-07-29 13:12] #4 closed

[2017-11-07 08:39] dankristensen opened #5 "@Context only injects values on method level, not on class level"
Hi

When i try to inject a Context like below, this is not made available. It works fine on method level

public class SomeRest {
@Context Vertx vertx;
}

[2017-11-07 08:48] drejc commented on #5
Yes ... @Context is currently only injected as a REST method argument not as a class variable.
@Context is a thread local state of the current request (thread safe), I don't think it is a good idea to mix a class variable (global state) with the local request/method (execution state).

If you need you can access vertx instance use the classic: `Vertx.vertx()`

[2017-11-07 08:57] dankristensen commented on #5
The reason i ask, is that i am working on changing an existing JAX-RS jersey solution to vert.x. And the existing solution is allowing this. I will change to use the @Context on the method instead.

[2017-11-07 09:04] drejc commented on #5
Yes I'm aware that some frameworks support this kind of injection ... and for the Vertx.vertx() instance it would be a legit inject (as this is a global variable) ... but @Context is a request specific thing and it would somehow break the "logic" ... will think of a way to provide global state variables to the class.
In the funnel is also an integration with existing injection frameworks (like Gui

[2017-11-07 09:04] #5 closed

[2017-11-07 09:28] marcban commented on #5
On my project, I implemented injection using the spring verticle factory example, it works like a charm with rest.vertx. You can inject for example the vertx object, the config, other verticles...

https://github.com/vert-x3/vertx-examples/tree/master/spring-examples/spring-verticle-factory

[2017-11-07 09:30] drejc commented on #5
@marcban will take a look ... thanks for the info

[2017-11-07 09:31] dankristensen opened #6 "Unable to write application/json if a JaxResponse is used"
When i have a method returning a javax.ws.rs.core.Response, it is not possible to have the data returned as Json, due to the condition below in JaxResponseWriter class. Is there any reason for this?

				if (writer != null && !(writer instanceof JsonResponseWriter)) {
					writer.write(jax.getEntity(), request, response);
				}
				else {
					response.end(jax.getEntity().toString());
				}

[2017-11-07 09:38] drejc commented on #6
Hm looking at this ...  !(writer instanceof JsonResponseWriter) it seems obsolete from some older code ... must check.

Can you provide a code snippet so I can recreate the issue?

[2017-11-07 09:44] drejc commented on #6
Jap you are correct ... this is bug ... or a relict of some older code.
Have fixed the issue and will release a new version 0.7.1 (should be available in one hour or so)

[2017-11-07 09:44] #6 closed

[2017-11-07 09:55] dankristensen commented on #6
Wow. That was fast. Thank you so much.

[2017-11-07 09:56] drejc commented on #6
No problem ... this was a simple fix ...

[2017-11-07 10:12] dankristensen commented on #6
It looks like i cannot build the project now.  Tests in this class is failing with:
java.lang.NoSuchMethodError: com.zandero.utils.ResourceUtils.getString(Ljava/io/InputStream;ILjava/lang/String;)Ljava/lang/String;
	at com.zandero.http.HttpUtils.getContentAsString(HttpUtils.java:360)
	at com.zandero.rest.RouteRegistrationTest.registerTwoRoutesTest(RouteRegistrationTest.java:58)
	at sun.reflect.Nat

[2017-11-07 10:19] drejc commented on #6
Check if you have the latest version ... and try `mvn clean test`, tests on my side are all OK. I have updated some references in pom.xml ...
You can try if the 0.7.1 version is available (it takes about an hour for maven central)

[2017-11-07 10:34] dankristensen commented on #6
Ok.  Will do so and let you know

[2017-11-07 10:37] dankristensen commented on #6
Nope still fails. I think maybe this is the problem:

        <version.zandero.http>[1.0,)</version.zandero.http>

It is using version 1.0, and i think it should be 1.2, which is the latest version. Could it be you had a local version of this on your machine?

[2017-11-07 10:43] drejc commented on #6
Hm [1.0,) means it will take the latest available version found ... so 1.2 should be taken.
But I see that 1.2 is not visible on maven central ... will re-release this version.

[2017-11-07 12:36] drejc commented on #6
Try now ... it should work

[2017-11-07 12:47] dankristensen commented on #6
After removal of all local maven zandero artifacts, it worked. All tests are green now. Thanx

[2017-11-07 12:48] drejc commented on #6
Cool ...

[2017-11-07 14:35] dankristensen opened #7 "Not possible to have multiple mediatype's in @Produces for a method"
When a method is annotated with

    @Produces({ MediaType.APPLICATION_XML, MediaType.APPLICATION_JSON })

And the request is sent with the "Accept: application/xml", the response is returned as JSON.

If it is called with "Accept: application/json", the response works ok and returns json.

It looks like this code is the main problem:

				for (MediaType produces : definition.getProduces()) {

[2017-11-07 14:39] drejc commented on #7
Will look into it ... probably a bug

[2017-11-08 09:54] dankristensen opened #8 "RestRouter does take subRoutes into account when using regex path's"
I am using RestRouter mounted as a subRouter like this:

        final Router restRouter = createRestRoutes(vertx);
        mainRouter.mountSubRouter("/prod/rest", restRouter);

But when one of the rest paths are using regular expressions, the argument number is not taking this into account, which results in invalid data being parsed.

[2017-11-08 11:58] drejc commented on #8
Can you give me a little bit more info ... what RESTs do you bind and how.
And on what REST call you get the wrong result.

[2017-11-08 11:59] drejc commented on #7
Fixed in version 0.7.2

[2017-11-08 11:59] #7 closed

[2017-11-09 07:20] drejc commented on #8
OK I was able to replicate this issue ... and it only applies to regular expression paths.
Must dig deeper into vert.x to find out why, as standard sub routes work as expected.

[2017-11-10 10:08] drejc commented on #8
Fixed ... sub routes method parameter indexes were incorrect.
Use release 0.7.3

[2017-11-10 10:08] #8 closed

[2017-12-08 10:11] marcban opened #9 "Allow asynchronous web services"
For the moment, all the services I wrote had the "Blocking" annotation.

It works pretty well, but its is not an ideal solution for an asynchronous framework like vertx.

It would be interesting to have a way of writing asynchronous methods, either with the Jax-RS 2.0 [AsyncResponse](https://docs.oracle.com/javaee/7/api/javax/ws/rs/container/AsyncResponse.html) (which is quite complex) or by letti

[2017-12-08 10:50] drejc commented on #9
I think this could be achieved using the Vert.X message bus system ... which I already plan to make easier to use with annotations ... combining those two you could achieve this.

[2018-01-30 11:19] yale8848 opened #10 "@Produces({MediaType.APPLICATION_XML}) error"
[code]

This page contains the following errors:
error on line 1 at column 1: Document is empty
Below is a rendering of the page up to the first error.

Why this happen?

[2018-01-30 12:52] drejc commented on #10
OK ... I have not enough information to debug this ...

- do you have a writer associated with this media type? ... XML by default has no associated writer
- do you have a Response implementation associated ?
- can the User object be deserialized ... ?

For instance ... create a XmlWriter ...
[code]

Associate the writer with your mime type ... method
`RestRouter.getWriters().register(MediaType.AP

[2018-01-30 20:47] jsirach opened #11 "Possibility to add Patch as method"
Hi good evening!

Do you think there is a possibility to add the http PATCH method to your library?

Thanks and cheers,
John.

[2018-01-31 01:15] yale8848 commented on #10
It can work. Thank you very much. 👍

[2018-01-31 01:15] #10 closed

[2018-01-31 06:52] drejc commented on #11
Sure ... wil be added in the next release.
Somehow I have missed this one.

[2018-01-31 07:59] yale8848 opened #12 "Can't get session problem"
[code]

TestRest.java
[code]
` Session session = routingContext.session();`
 session  == null , something wrong?

[2018-01-31 08:14] yale8848 opened #13 "java.lang.IllegalStateException: Response has already been written"
[code]

TestRest .java
[code]

Html display right, but console have exception :

[code]

[2018-01-31 08:21] drejc commented on #12
1. no need to register a cookie handler ... if you use @Cookie annotation in method body you can read the cookie
2. you have created a session handler after the RestHandlers ... so handler is executed afterwards ... try moving you session handler before RestRouter ...

[2018-01-31 08:42] drejc commented on #13
You are missing the point of a REST endpoint ... the REST handler ends the response ...
so you need to put all additional logic handling the produced response into a ResponseWriter ...
move your template logic into a HttpResponseWriter implementation

[2018-01-31 10:37] yale8848 commented on #12
Thanks firstly. I try 2 , but it doesn't work.

[2018-01-31 10:40] yale8848 commented on #13
Thanks, i will try it

[2018-01-31 10:40] #13 closed

[2018-01-31 16:56] drejc commented on #12
It works for me:

[code]

[2018-01-31 16:56] #12 closed

[2018-02-01 01:01] yale8848 commented on #12
Ok, Thanks very much.

[2018-02-01 12:24] xiaomomo opened #14 "rest.vertx is great, but i want to kone how to implement AsyncResult in restMethod"
i want implement a async controller method like vertx.web

here is my code

[code]
but the com.zandero.rest.RestRouter#produceResponse method end end response mandatory,and system invoke error: `java.lang.IllegalStateException: Response has already been written`

[code]
why do this, and could i comment that statement in some fork?

[2018-02-01 12:27] drejc commented on #14
This is currently not jet supported ... see issue #9 ...
it's on the ToDo: list ...

[2018-02-01 12:27] #14 closed

[2018-02-01 12:33] xiaomomo commented on #14
excited to hear,waiting implementation

[2018-02-02 10:52] drejc commented on #14
Hm ... I took another look at your code ... and I'm not quite sure what you would like to achieve ....
I have implemented this simple test:
[code]

Where spaceService is:
[code]

and a AsyncWriter is:
[code]

In essence it does what you are intending to do ... or am I missing something?

[2018-02-05 08:48] xiaomomo commented on #14
sorry reply message late , just received is message.  your code will response {"name": "async", "value": "called"};  but i want response  {"name": "async++", "value": "called++"}

[2018-02-05 08:58] drejc commented on #14
Are you sure ... I have added a test RouteAsyncTest that works as expected .... have done a "real life" test though. Check out my test code and the TestAsyncRest implementation for that matter and keep me posted.

[2018-02-05 21:18] jsirach commented on #11
Thanks,

Sorry for the late response, also thank you for adding TRACE!

I will wait for the 0.8.1 release to maven,

Cheers!

[2018-02-05 21:18] #11 closed

[2018-02-06 03:10] xiaomomo commented on #14
sorry for my earlier describe bother you，i test your code in runtime, the code
[code]
is execute synchronous and return  `{"name": "async++", "value": "called++"}`

but i want `AsyncService` execute async like this

[code]
in this time will return ` {"name": "async", "value": "called"}`

[2018-02-06 07:52] drejc commented on #14
Ah .. now I understand your issue ... this is currently not possible to achieve.
As the REST method itself is a "blocking" method ... anything happening inside the REST method is currently not aware of the whole vertx event loop ... etc.

I'm thinking of some way to integrate this but have not yet come up with a nice solution ...
the best way to do it, would be with some event bus annotations that

[2018-02-06 07:55] drejc commented on #11
The 0.8.1 release will take a while (revamping some code) ... so in the meantime just build yourself a version locally.

[2018-02-06 08:02] xiaomomo commented on #14
i just comment this code

[code]

in the  com.zandero.rest.RestRouter#produceResponse, and the response could send asynchronously in the controller method

[2018-02-06 08:28] jsirach commented on #11
Ok i will, thanks.

You maybe got some estimate or is the timeline like "When it's done" ?

Cheers!

[2018-02-06 09:56] drejc commented on #14
Sure ... I know that ... but this needs to be packaged well ... currently the logic is:

1. parse request / extract parameters
1. execute method with parameters / inject if needed
1. use writer to produce response ...

now in the second step we need the async stuff happening ...  and the 3rd step should take over the future result ... and there are different ways to do this ...

One would be that

[2018-02-06 09:59] drejc commented on #11
You know what I can build a intermediate version ... and leave the big one for later ... will do a 0.8.1-beta ... or something ... just need to test some things before releasing ...
as I don't have much time doing the big 0.8.1 release.

[2018-02-06 10:16] jsirach commented on #11
Very much appreciated!

But, if you don't make it, you don't make it ;)

Cheers!

[2018-02-06 14:45] marcban commented on #14
Hello, as writer of issue #9, I also think that @xiaomomo solution would be very interesting, allowing asynchronous services with minimal changes to the existing API.

For example, if the `@Suspended` annotation is put on the HttpServerResponse argument , we could let the handler function write and end the response:

[code]

It would be very close to standard JAX-RS :

`void asyncGet(@Suspended fi

[2018-02-06 15:32] marcban commented on #14
May be in that case, we could just use a vert.x future, so there is no need to add a new specific class ?
[code]

Note : Currently, we use Enunciate for documenting the API, so our function returns "`Dummy`", but we can use the `@TypeHint` annotation for informing on the real return type

[2018-02-06 16:02] drejc commented on #14
Sure will try to implement something with Future ... I think this will be a much simpler api than all other suggestions.

[2018-02-07 03:19] craftsman-li commented on #13
hello,把你改的发出来看下呗，如何改。。

[2018-02-07 16:10] drejc commented on #14
OK ... I have released a test version with Async execution ... should be up in about 30mins
[code]
If a REST method returns a Future<Object> than a handler waits for the future to finish ... and returns the desired response.
The writer is determined according the future.result() type ...

For instance:
[code]

Please give it a spin ...

[2018-02-07 16:12] drejc commented on #9
OK ... I have released a test version with Async execution ... should be up in about 30mins
[code]
If a REST method returns a Future<Object> than a handler waits for the future to finish ... and returns the desired response.
The writer is determined according the future.result() type ...

For instance:
[code]

Please give it a spin ...

[2018-02-07 16:31] marcban commented on #9
thank you ! I will try to test it before the end of the week

[2018-02-09 17:10] #9 closed

[2018-02-09 17:11] drejc commented on #11
Patch method is now "officialy" supported in revision 0.8.1 !

[2018-02-09 18:42] jsirach commented on #11
Awesome!

I should get the 0.8.1-BETA release from maven?

P.S. Nice stuff in this release

[2018-02-09 18:43] drejc commented on #11
Go for 0.8.1, beta was a test release.

On Fri, 9 Feb 2018 at 19:42, jsirach <notifications@github.com> wrote:

[2018-02-09 18:47] jsirach commented on #11
Thanks,

much appreciated.

[2018-02-12 10:44] marcban opened #16 "JAX-RS annotation inheritance"
As I use Enunciate for documentation, the web services classes are divided in interface and implementation. In that case, according to JAX-RS specs, I should'nt repeat the annotations on  implementation. But rest.vertx doesn't find the method in that case, as it use only `getAnnotation()` on the method without climbing to the superclass. I assume the same happens for parameter annotations.

see ht

[2018-02-12 10:48] drejc commented on #16
This is correct ... class / method / parameter inherited annotations are not taken into account.

[2018-02-12 10:54] marcban opened #17 "Have less inherited dependencies"
When adding the rest.vertx dependency through maven, it add 3Mb+ dependencies that seem not useful.

At the moment, I import it with a lot of exclusions, but it would be better to have theses dependencies marked as optional in the project:

[code]

[2018-02-12 10:56] drejc commented on #17
Sure ... will take a look ...

[2018-02-13 08:42] drejc commented on #17
Just a side not ... excluding **commons-validator** might cause some unexpected problems.
It is utilized inside rest.vertx when checking for URL's. You might not triggered the check in your RESTs.

[2018-02-18 08:44] drejc commented on #17
Cleaned up pom.xml

[2018-02-18 08:44] #17 closed

[2018-03-02 21:31] juanavelez opened #18 "RestBuilder::getRouter passes a List<Object> as an array element, instead of converting the list to an array of objects"
[code]

[code]

[code]

calling

[code]

[code]

From Intellij debugger

[code]

which leads to an empty Map<RouteDefinition, Method> definitions in

[code]

because ```Object api``` here is not really ```MyObject``` but ```java.util.ArrayList``` which is not annotated

[2018-03-02 21:53] drejc commented on #18
Not quite following what is the issue ... ?
You have registered MyObject.class as your API ... and It is not working? ...

[2018-03-02 22:01] juanavelez commented on #18
From the README.md, it is apparent you can register an instance of an object

[code]

I am trying to do such but via the Builder API. The instance is saved in the RestBuilder's apis instance variable which is an actual ArrayList. The apis instance variable is fed to the RestRouter.register call, which accepts an array of Objects (VarArgs). By doing so, the first object of the VarArgs becomes the A

[2018-03-02 22:08] drejc commented on #18
Can you please provide the exact code ... I'm lost.

[2018-03-02 22:10] juanavelez commented on #18
Sure, I will work on a reproducer of the issue.

[2018-03-02 22:22] juanavelez commented on #18
More information. The RestBuilder.build() does build correctly, but the issue (and I am being picky here) is that the initial call by the build() method to getRouter() is not really doing anything because the passed parameter is an ArrayList. However down the build() code, there is an actual iteration of each of the elements of the apis variable which in that case is correctly registering the inst

[2018-03-02 22:22] #18 closed

[2018-03-02 22:58] drejc commented on #18
I see ... the getRouter() method is needed ... because you can build up you RESTs in two ways ...
1. new RestBuilder(vertx). ... .build() OR
2. new RestBuilder(router) ... build() in case you want to add new routes to an existing router
so this is in place to match all possible cases ..

[2018-03-02 23:22] juanavelez commented on #18
Correct, but the thing is that this call

[code]

Does not register anything because the object passed (a List) is begin treated as a List itself which has no annotations so the iteration over

[code]

Returns an empty Map (because the class of api at that point is java.util.ArrayList which has no REST annotations and neither its methods)

I agree that the RestBuilder either by vertx or router is

[2018-03-02 23:28] drejc commented on #18
O I see ... you want to register a list holding you APIs ... as:
[code]
This will **not** work ... the list is taken as the API (which in this case it is not) ...

Usage is intended to be:
`new RestBuilder(vertx).register(api1, api2).build();`

[2018-03-02 23:34] juanavelez opened #19 "Proposed enhancement: Provide a way to register exception handlers for specific exceptions"
The exception handling is very good but I think It'd be great if one could register ExceptionHandlers for specific exceptions. A proposal is to add a method to the ExceptionHandler interface that returns the list of exceptions it handles. If the list returned is null/empty, then it would handle any exception, otherwise the ExceptionHandler would handle the specific exception.

[code]

For example,

[2018-03-02 23:42] juanavelez commented on #18
Your RestBuilder api does provide a correct way to register things. The thing is that there is code that is not doing much besides creating the Vertx router. For example, try to debug

[code]

and you will see that the call to

[code]

does nothing besides creating the vertx router because when iterates over the api loop variable, the class for the api object is a List which is not REST annotated,

[2018-03-03 08:26] drejc commented on #19
Sure ... but this functionality is actually already possible ... for instance ... if you annotate a method with @CatchWith you can list multiple exception handlers:

[code]

where:

- public class IllegalArgumentExceptionHandler implements ExceptionHandler<IllegalArgumentException> {
- public class WebApplicationExceptionHandler implements ExceptionHandler<WebApplicationException> {
- public class

[2018-03-03 19:07] juanavelez commented on #19
I see, the exception handler chosen is based on the Parameterized Type of the interface. So I need to create ExceptionHandlers whose type argument match the Exceptions I want to capture.

[2018-03-03 19:07] #19 closed

[2018-03-03 19:10] drejc commented on #19
Exactly ... the first one matching will be used.

On Sat, 3 Mar 2018 at 20:08, Juan Velez <notifications@github.com> wrote:

[2018-03-22 00:05] etki opened #20 "[Feature request] Input data validation"
Hi!
I think it would be terribly cool to add support for javax.validation and `@Valid` parameter annotation, which would automatically check for violations in deserialized entities and throw ConstraintViolationException in case of found violations.

[2018-03-22 09:07] drejc commented on #20
Sure ... I can add this to the existing checks.
If I'm not mistaken currently a IllegalArgumentException is thrown in case argument don't match up and a 400 bad request is thrown

[2018-03-22 13:00] drejc commented on #16
Fix of issue is available on https://github.com/zandero/rest.vertx/tree/inherited_annotations branch.

[2018-03-22 13:00] #16 closed

[2018-03-22 21:51] etki commented on #20
@drejc, yes, this totally works for things like `@PathParam`, i'm talking about deserializing request body `{}` as virtually any object (with null or default properties). Adding standard bean validation would help to process such case with a single ConstraintViolationException handler.

[2018-03-23 07:09] drejc commented on #20
Will take a look ... my aim is to keep this project as lean as possible. Don't want to introduce unnecessary dependencies. But yes, sounds reasonable.

[2018-04-03 10:40] HR2132 opened #21 "Not able to register Custom Filter Class in Vertx RestRouter"
I have created custom Authentication Filter:
**public class AuthenticationFilter implements javax.ws.rs.container.ContainerRequestFilter**

As this filter should invoked for each rest API call, I am trying to register it in router using:
**RestRouter.register(vertx, AuthenticationFilter.class)**

but this filter is not invoked.

in case of other J2EE Container it is working fine as it uses:
regist

[2018-04-03 10:51] drejc commented on #21
ContainerRequestFilter is currently not supported (as vert.x does things a little bit different)

Depending on what you want to achieve there are several ways to do authentication with vert.x
But it all boils down to implementing a handler that either fills in the local Context or throws an exception ...

See: [User roles and authorization](https://github.com/zandero/rest.vertx#user-roles--authori

[2018-04-04 06:26] #21 closed

[2018-05-06 09:09] drejc opened #22 "CORS handler binded to late"
CORS handler via RestBuilder is bound to late.
CORS handler should be bound before RESTs

[2018-05-07 23:13] juanavelez opened #23 "When using Proxies, RouteDefinitions are not created correctly"
I am working on adding Spring Validation to the REST Controllers so I have created an interface

[code]

And an implementation class

[code]

In my bootstrap verticle where I declare an @Autowired to LoginControllerContract, I register the Controller with rest.vertx

[code]

[code]

When I disable the validation AOP, I get an actual object to LoginController and the registration works fine and I c

[2018-05-09 00:58] juanavelez commented on #23
Reproducer https://github.com/juanavelez/rest-vertx-issue-23

[2018-05-09 08:48] drejc commented on #23
So you need to provide an implementation of a InjectionProvider class,
this class is then used to get the needed class instances on the fly.

In your case this is the Proxy class that does this.

[code]

[code]

[2018-05-09 13:59] juanavelez commented on #23
Thank you for reply. Unfortunately this does not work as the proxy is not being used. The registration process creates a new instance of the ```LoginController.class``` (```register(LoginController.class)```) and registers that as the handler. The proxy needs to be called. You can test this by changing the proxy to print something before it invokes the actual method:

[code]

You will see that the

[2018-05-09 14:00] drejc commented on #23
OK my bad ... thought it was a simple factory issue ... will dive deeper
...

On 9 May 2018 at 15:59, Juan Velez <notifications@github.com> wrote:

[2018-05-09 14:14] juanavelez commented on #23
Thank you for reopening the issue and taking a deeper dive. Also, I forgot to add that in the real situation I would not know the actual implementation class only the interface. Unfortunately calling RestBuilder::register with an argument of LoginControllerContract.class fails as the code tries to find a default constructor which interfaces don't have. Nevertheless, the interface(s) and its method

[2018-05-09 14:18] drejc commented on #23
Must take a look.  However interface annotations are supported, so those
should work.
Will try to find a general solution.

On Wed, 9 May 2018 at 16:14, Juan Velez <notifications@github.com> wrote:

[2018-05-09 20:37] drejc commented on #23
You were right it was the _isRestCompatible_ method preventing the correct binding.
Explicitly the !isFinal(method) check.

I have added this check to prevent binding final Object methods like equals(), toString() ... and to speed things up when searching for compatible methods.
In this case it prevents the binding of the correct method.

Will provide a fix in the next day or two ...
in the meanwh

[2018-05-09 21:34] juanavelez commented on #23
Indeed, your suggested change worked like a charm. Thank you!

[2018-05-09 21:39] juanavelez commented on #20
I second this enhancement. Currently I am doing it via Spring Validation but the error returned is a 500 error and the error message "Java.validation.ConstraintValidationException". It'd be great if these validation exceptions could be handled by an```ExceptionHandler``` so the correct HttpStatus error code and message could be sent back.

Very good work BTW on this, it really fills a need.

[2018-05-10 06:14] drejc commented on #20
@juanavelez can you post a working example of how you are doing the validation. It should be possible to catch any exception produced.

[2018-05-11 13:46] juanavelez commented on #20
I think I found the issue. I am using the following

[code]

[code]

It looks like when using an instance of `ExceptionHandler` (as opposed to a Class<?>) the following is called

[code]

which in turn calls

[code]
But  when determining what ExceptionHandler to use

The lookup in the cache is lower priority than the default ones

[code]

[2018-05-11 18:12] #23 closed

[2018-05-15 07:18] drejc commented on #20
@juanavelez yes I'm refactoring the exception handling part as it is a little bit messy, so stay tuned.

As to how exception handling now works is it tries to match the thrown exception with the registered exception handlers in the order handlers have been registered.

Exception handlers are used as listed ... first one matching the exception will be used.

[code]

This works for class type except

[2018-05-15 07:42] drejc opened #24 "Registered Exception handler instances not utilised correctly"
When registering exception handler instances (not class types) the matching algorithm doesn't find the correct exception handler instance.

[2018-05-21 16:42] juanavelez commented on #20
@drejc Hello, I see you made some changes to the code to handle the exception mapping better. I just tried with the latest code and the ExceptionHandler instance I registered is still not being called

[code]

[code]

In my controller code, I am raising the following:

[code]

Following the code, it seems the registration is indeed putting GlobalExceptionHandler.class mapped to the appropriate ins

[2018-05-22 06:03] drejc commented on #20
@juanavelez it's work in progress ...
the problem is finding the correct cached class no matter the exception thrown ...
currently there is only a simple mapping exception type - handler when the instance is cached/registered.
Now if you throw a inherited exception the instance will not be found ... as you are describing.
I need to create a better way of storing multiple keys (exceptions) bound to

[2018-05-24 06:39] #22 closed

[2018-05-26 08:00] #24 closed

[2018-05-30 13:31] drejc commented on #20
ConstrainViolation support now available in 0.8.4 version

[2018-05-30 13:31] #20 closed

[2018-06-05 06:20] drejc opened #25 "{regEx:} style RegEx not working when holding "/""
Following RegEx path is not recognized:
`{path:^(?!\\/api\\/).*}`

Need to improve code searching for regular expressions inside { }

[2018-06-05 06:22] drejc opened #26 "Not found handler order"
Option to place not found handler on specific point before next handler is invoked.

For instance:

not found /api/* handler placed after all other /api/ handler but before /* handler.

[2018-06-21 03:09] tnguyen-lh opened #27 "SEVERE: Failed to instantiate class of type: com.zandero.rest.example.rest.EchoRest, class needs empty constructor!"
I downloaded rest.vertx.example and run it, exception throw when I access /echo
If I create a new empty constructor, guice could not inject MyService into the rest

SEVERE: Failed to instantiate class of type: com.zandero.rest.example.rest.EchoRest, class needs empty constructor!
java.lang.IllegalArgumentException: Failed to instantiate class of type: com.zandero.rest.example.rest.EchoRest, class

[2018-06-21 08:40] drejc commented on #27
Example code was not pushed ... update to latest version.
PS: Please post issues like this to the example project next time.

[2018-06-21 08:40] #27 closed

[2018-06-22 00:03] tnguyen-lh opened #28 "Guice injection is not working"
I follow the instruction in "Injection" section, but got exception, the same exception happened in your example project.

java.lang.IllegalArgumentException: Failed to instantiate class of type: com.sc.application.rest.TestRest3, class needs empty constructor!

[code]

pom.xml

[code]

Starting App get exception

SEVERE: Failed in deploying verticle
java.lang.IllegalArgumentException: Failed to in

[2018-06-22 07:05] drejc commented on #28
The "problem" is you are using a Guice specific @Inject annotation instead of the standard **javax.inject.Inject** annotation.

Guice provides it's own set ov JAX-RS annotations but rest.vertx uses ja javax.inject annotations.

Just change
`import com.google.inject.Inject; `

to
`import javax.inject.Inject;`

and it will work.

Will try to provide a more comprehensive error message to prevent addi

[2018-06-22 07:05] #28 closed

[2018-07-01 18:59] jsirach opened #29 "Given exception handler not used"
If i'm overlooking something, please correct me.

Currently i'm building a router with

`
        for (Collection api : Collection.values()) {
            apiList.add(api.getResource());
        }
        return new RestBuilder(vertx)
                .register(apiList.toArray())
                .errorHandler(RestFallbackExceptionHandler.class)
                .build();`

Which correctly builds the

[2018-07-02 06:44] drejc commented on #29
You need to specify the exception type you want to catch.

In your case I assume you want to catch **DefaultRestException**, so you need to tell rest.vertx the exception type:
[code]
Otherwise rest.vertx can't match the thrown exception to the exception handler and defaults to the GenericExceptionHander instead.

Hope this helps.

[2018-07-02 13:46] jsirach commented on #29
I did a copy paste error i think, i have put the DefaultRestException there.

I'm trying to assign it as a global exception handler. I think i'm misinterpreting your documentation. Which class generic should i use to have it globally assigned?

(currently at work so unable to try out now ;) )

[2018-07-02 14:11] drejc commented on #29
I have this in my own code ...
[code]

This will catch any exception thrown (i.e. Throwable) ... not only specific ones ...

[2018-07-03 05:32] jsirach commented on #29
Works like a charm, thanks!

Closing the issue.

[2018-07-03 05:32] #29 closed

[2018-07-03 07:35] drejc commented on #29
Cool ...

[2018-07-12 12:53] tnguyen-lh opened #30 "Rest return CompletableFuture"
This is not quite a bug, but when I use the example of return Future<Dummy>, the return is actually the future object, not the Dummy content, I have modified this way, it is working and return the the json. However, I don't know whether I am blocking vertx main thread or not. Could you please advice?
[code]

[2018-07-12 14:38] drejc commented on #30
The difference between the Future<> and "normal" execution is in the way vert.x is thread pool is used.

In the "normal" way vert.x is called:
[code]

As per vertx documentation:

If you don’t care about ordering you can call executeBlocking specifying false as the argument to ordered. In this case any executeBlocking may be executed in parallel on the worker pool.
An alternative way to run blocki

[2018-07-12 14:38] #30 closed

[2018-07-13 01:41] tnguyen-lh opened #31 "Response can not end async method result"
Thank you for reply and close the last issue I have! There is something like this in Vertx-Web I can not do with rest.vertx:

In Vertx-Web I call async method like below and it is not blocking io, it doesn't need to run under worker thread:

[code]
And this above code work fine, async and not blocking any thread.

In rest.vertx, I do this:

[code]
If I put break point in return response, when I hi

[2018-07-13 08:03] drejc commented on #31
OK I found the problem ... it seems **rest.vertx** doesn't recognize **CompletableFuture<>** as a **async** response .... must fix this to make it work.

Apart from that if you use Future<> instead it will work:

Take a look at this example service:
https://github.com/zandero/rest.vertx.example/blob/master/src/main/java/com/zandero/rest/example/service/SlowServiceImpl.java

And the REST API:
https

[2018-07-14 12:11] tnguyen-lh commented on #31
Thanks a lot drejc! I would like to participate in rest.vertx, do you have any task that you want me to do.
I am able to make it work using vertx future like this, confirmed this way is not blocking the main thread. The reason I have to use CompletableFuture because it is come from another api that return me CompletableFuture.

[code]

Another way with plain vertx-web, also non blocking as well

[

[2018-07-30 06:35] tnguyen-lh commented on #26
I start with this bug tonight. Thanks!

[2018-09-26 10:28] cyr62110 opened #32 "Detection of regex in path is too sensible"
Hi,

We are using in our application versioned path like the following:
[code]

Unfortunately, the ValidatingUtils.isRegEx is picking 1.0 as a valid regex and is creating a path param named "param0" for it. Therefore we need to add a parameter @PathParam("param0") in all of our methods otherwise we get this error:
[code]

We have found multiple ways to overcome the issue but it could be good if in

[2018-09-26 13:29] drejc commented on #32
You are correct ... the RegEx detection and use of RegEx expression in paths is somewhat broken.
There is already an open bug #25 that will address this issue.

Will try to find a better way of dealing with RegEx expressions ... if you have any suggestions for a regEx path syntax feel free to post it here.

[2018-10-03 18:58] tsu1137 opened #33 "QueryParam should be URLDecoded"
Hi
I'm trying out rest.vertx (latest version, 0.8.6), so far I like it very much. There's just a small issue related to service methods with QueryParam.

Observation:
Service methods which use @QueryParam receive the URL *encoded* param, for example "Hello%20World"

Expected:
Standard behaviour would be to get the URL *decoded* query param, i.e. "Hello World"

Cheers
Thomas

[2018-10-04 06:44] drejc commented on #33
I'm aware of this bug, and it is already fixed, but not released (if you wish you can take the latest code and build it yourself)

I'm in the process of fixing the RegEx query problems and this fix will be a part of the next release.

[2018-10-05 07:00] tsu1137 commented on #33
Thanks Andrej that's very cool news. I'll try it out.
Cheers
Thomas

On Thu, Oct 4, 2018 at 8:44 AM Andrej Završnik <notifications@github.com>
wrote:

[2018-10-09 07:07] drejc commented on #32
Issue is fixed (not released yet)

VertX regEx must now have following format: `:parameter:regEx` or `{parameter:regEx}`
all other are considered simple paths.

Could you give it a spin, and give me same feedback if this solved your issues.

[2018-10-09 07:07] #32 closed

[2018-10-09 07:08] drejc commented on #33
WIll be released very soon with 0.8.7 version

[2018-10-09 07:08] #33 closed

[2018-10-09 07:10] drejc commented on #25
RegEx paths must now have following format: `:parameter:regEx` or `{paramater:regEx}`
Variable paths still have format: `:parameter` or `{parameter}`
all other paths are considered fixed paths

Will be released with 0.8.7 version

[2018-10-09 07:10] #25 closed

[2018-10-11 15:38] infloop opened #34 "Getting error when using validation (hibernate) and method with no parameters"
Hi! Thanks for that awesome library!

When writing Controller methods with no parameters I get:
`Error java.lang.IllegalArgumentException: HV000116: The method parameter array cannot not be null`

[code]

Workaround for this:
[code]

Possible solution:
when `ArgumentProvider.getArguments` returns null - do not validate parameters.

in RestRouter.java
[code]

I'm using the following dependencies:
[

[2018-10-11 17:03] drejc commented on #34
This is an issue that paths get interpreted as regular expression - see issue #32
This is already fixed but not released, you can take the latest code from git and try it.
It should work without the default param.

A new version is coming soon ... fixing the last open issue as we speak.

[2018-10-11 17:03] #34 closed

[2018-10-11 19:48] #26 closed

[2018-10-16 06:16] cyr62110 commented on #32
Thanks. I have tried and I can now use 1.0 in the path without issue.

[2018-10-17 21:26] cyr62110 opened #35 "Routes checking @RolesAllowed have order 0"
Hi,

I was having the following exception on my POST endpoints with a @RoleAllowed annotation:
[code]

After investigation I found that all route checking the roles are registered with the order 0 because of the following line:
https://github.com/zandero/rest.vertx/blob/8925ffd5e2c7d337deb01e9a15fb47d7a93601d0/src/main/java/com/zandero/rest/RestRouter.java#L424

However for the route serving the c

[2018-10-18 06:14] drejc commented on #35
Will take a look ... it seems like in this particular combination the body handler is added a little bit to late.

[2018-10-31 07:26] cyr62110 opened #36 "Exception when validating a method taking no parameter."
Hi again,

After I registered a Validator I started to get the following exception when the RestRouter tries to validate a function that takes no parameter. The validator library that I am using is hibernate-validators 6.0.13.

The exception I get is the following:
[code]

And below you will find the signature of one of the method that cause the problem:
[code]

A simple fix may be to check if the

[2018-10-31 07:50] drejc commented on #36
Hm ... not quite sure it is a rest.vertx issue ... can you provide the assigned validator you use.

[2018-10-31 09:48] cyr62110 commented on #36
Yes, I uses [hibernate-validator 6.0.13](https://mvnrepository.com/artifact/org.hibernate.validator/hibernate-validator/6.0.13.Final).

To create my validator, I do:
[code]

Then I assign it to the RestBuilder:
[code]

Best,

[2018-10-31 11:00] drejc commented on #36
Will take a look.

On Wed, 31 Oct 2018 at 10:48, Cyril Vlaminck <notifications@github.com>
wrote:

[2018-11-11 17:38] #36 closed

[2018-11-11 17:57] #35 closed

[2018-11-26 13:16] sameerazhar opened #37 "Is request reader and response writer reactive? Can it stream data?"

[2019-01-05 14:47] pipinet opened #38 "Verticle mutil instance, bug ExceptionHandlerFactory has shared handlers"
Verticle mutil instance, bug ExceptionHandlerFactory has shared handlers...
when checkIfAlreadyRegistered will throw Exception

[2019-01-05 17:11] drejc commented on #38
Please include a test case that replicates this issue, thanks

On Sat, 5 Jan 2019 at 15:47, 出门三不惹 <notifications@github.com> wrote:

[2019-01-06 11:11] pipinet opened #39 "Can not customize ConstraintExceptionHandler"

[2019-02-01 08:47] drejc commented on #38
Is this still an issue, I could not replicate this locally on my machine (as far as possible from the description). If it is please provide use case to replicate, otherwise I will close it.

[2019-02-04 10:01] #38 closed

[2019-02-13 22:21] mxmind opened #40 "Please add support of @BeanParam"
Hi, that will be very handy to be able to use simple POJO as the parameter's aggregator. Please, see the following Javadoc https://docs.oracle.com/javaee/7/api/javax/ws/rs/BeanParam.html

[2019-02-14 07:05] drejc commented on #40
I'm quite busy at the moment ... will see if I can squeeze this one in

[2019-03-02 21:32] gofabian opened #41 "Make rest.vertx more extensible"
At first thank you for your project. I really like it because it is a good alternative to the official Vert.x Web Contract library and enables me to start a project rapidly.

I use rest.vertx with Kotlin and would like to have support for Kotlin coroutines. At the moment it is not possible to change some behaviours of rest.vertx without forking your project. I suggest to change the structure a bit

[2019-03-03 11:12] drejc commented on #41
It seems to me that you already have figured out the solution, so just go
ahead, fork and create a patch.

I will than merge and release a new version.

On Sat, 2 Mar 2019 at 22:32, Fabian Iffländer <notifications@github.com>
wrote:

[2019-03-05 16:05] gofabian opened #42 "DELETE endpoints cannot have a body"
The HTTP method "DELETE" is allowed to have a body. But rest.vertx does not allow.

[code]

[2019-03-05 16:18] #42 closed

[2019-03-05 16:51] gofabian commented on #42
Wow! That was fast :) Do you plan a bugfix release?

[2019-03-06 06:59] drejc commented on #42
Lets wait and accumulate samo additional bugs/features. Rate of addoption
is quite slow if you do a lot of releases.

On Tue, 5 Mar 2019 at 17:51, Fabian Iffländer <notifications@github.com>
wrote:

[2019-06-25 20:29] MohiuddinM opened #43 "How to disable logging caught exception as an Error"
One of my functions inside a Controller throws an Exception, and it is already caught by an exception handler (defined by RestRouter.getExceptionHandlers().register()), but it still shows up as an error
[code]

[2019-06-25 22:42] drejc commented on #43
Not quite sure what you mean by "shows up as an error"? If you want to disable rest vert.x logging you can always set:

`<logger name="com.zandero.rest" level="OFF" />`

[2019-06-25 23:38] MohiuddinM commented on #43
I am only logging Errors.

What I want is that rest router should not log exception as error if it already has a corresponding exception handler

[2019-06-26 04:56] drejc commented on #43
Maybe a better solution would be to change the log level in this case to debug as in any case an exception handler will be invoked. The provided one or a generic one.

[2019-06-26 20:50] MohiuddinM commented on #43
What I want to suggest is that we should check if there is an exception handler (non generic) for a particular exception or not. If there is then it should be logged as debug, otherwise as error.

[2019-07-02 15:12] YounesRahimi commented on #41
Because of a need for adding kotlin dependencies, all these changes need to happen in an extra library which can use Rest.VertX. I have created and published a library with such requirements named [rest.vertx-kotlin-coroutines](https://github.com/YounesRahimi/rest.vertx-kotlin-coroutines) which have same usage API for kotlin but with a `suspend` modifier. The full documentation is available at the

[2019-07-02 15:25] YounesRahimi commented on #41
As @gofabian mentioned there are some needs for changing in rest.vertx SPI to support extensibility of the library. For project [rest.vertx-kotlin-coroutines](https://github.com/YounesRahimi/rest.vertx-kotlin-coroutines) I forced to create an extra RestBuilder and RestRouter which have the same API with rest.vertx but can register and build suspendable routes. I also forced to access the private f

[2019-07-02 15:31] YounesRahimi opened #44 "Add Support for Template Engines"
In some cases, we need to use template engines even in Rest services. For example, if we want to redirect the user to a third-party server with `x-www-form-urlencoded` body payload we need to use Javascript for doing this.

[2019-07-02 17:07] drejc commented on #41
@YounesRahimi will take a look into it ... currently I'm quite busy, so stay tuned

[2019-07-02 17:08] drejc commented on #44
Not quite sure what you have in mind ... can you illustrate a simple use case

[2019-07-02 17:40] YounesRahimi commented on #44
If you want to redirect a user to another external URL you have two options for doing this.

Option one is using HTTP redirect status codes which are 3xx codes. The limitation of this option is that you can't redirect to a URL with a different body (payload) and different content type.

Option two is using template engines to render an HTML page with Javascript and then redirect the user using Jav

[2019-07-03 07:45] drejc commented on #44
I think what you are after is static file serving.

To achieve this you simply need to set a dedicated "file" writer to a REST endpoint ...
Rest.vertx already provides a default implementation out of the box, but you can create your own.

For instance the following endpoint:

[code]

Will return a "path" as a String. This path is then used by the **FileResponseWriter** to find and return the conte

[2019-07-03 09:02] YounesRahimi commented on #44
OK. What if we want dynamic file contents like passing variables to file writer to render the file?

[2019-07-03 09:17] drejc commented on #44
Then you will need to create your own writer / custom implementation ...

Just for illustration ... (NOT WORKING CODE):
[code]

The writer would then look something like this:

[code]

[2019-07-03 12:57] #44 closed

[2019-07-04 15:25] YounesRahimi opened #46 "Support Multiple HTTP Methods/Verbs for Same Route"
Currently one can set only one HTTP method for a route. While in other frameworks like Spring Web you can set multiple HTTP methods for the same route. Being able to set multiple HTTP methods lets the developer migrate a route's HTTP method over time from one to another or simply to respond to the same requests with different HTTP methods.

Example code:
[code]

[2019-07-05 07:39] drejc commented on #46
Not sure if this is a good practice, I'm quite reluctant to introduce this.

[2019-07-06 16:31] drejc commented on #43
Changed logging to DEBUG in case of provided exception handler, otherwise ERROR

[2019-07-06 16:31] #43 closed

[2019-08-26 22:57] jsirach commented on #42
Good evening,

I've seen the issue has been closed, but i'm seeing some odd behavior.

Using vertx web 3.8.0, updated rest.vertx to 0.8.9.

I'm having one path with a GET and a DELETE
1:
    @GET
    @Path("tokens/:tokenReferenceId")
2:
    @DELETE
    @Path("tokens/:tokenReferenceId")

I'm noticing after the update the DELETE annotated method is results in a 404. But after adding an empty body to

[2019-08-27 05:10] drejc commented on #42
Hm ... should not happen, will take a look.

On Tue, 27 Aug 2019 at 00:57, jsirach <notifications@github.com> wrote:

[2019-08-27 08:49] drejc opened #47 "DELETE body with empty body not working"
Good evening,

I've seen the issue has been closed, but i'm seeing some odd behavior.

Using vertx web 3.8.0, updated rest.vertx to 0.8.9.

I'm having one path with a GET and a DELETE
1:
    @GET
    @Path("tokens/:tokenReferenceId")
2:
    @DELETE
    @Path("tokens/:tokenReferenceId")

I'm noticing after the update the DELETE annotated method is results in a 404. But after adding an empty body to

[2019-09-01 10:12] drejc commented on #47
@jsriach ... was trying to replicate the described issue, but was unable to.

I have created the following routes:
[code]

Both work as expected in my unit test, can you create a short code snipped that replicates this issue on your side.

[2019-09-10 12:21] jsirach commented on #47
Sorry for the late response. Will come back to you asap!

[2019-09-10 14:16] jsirach commented on #47
Removing @Consumes("application/json") from class level and only on methods which should consume solved the issue. 🤦‍♂️

You can close the issue, sorry for taking your time!

[2019-09-10 18:43] #47 closed

[2019-09-15 01:00] Imaclean74 opened #48 "doc spelling"
the front page doc uses the word vertical - when it should be verticle. Minor - but good to fix.

[2019-09-15 10:00] drejc commented on #48
Nice catch ... will fix

[2019-09-15 10:03] #48 closed

[2019-09-16 11:28] drejc commented on #46
This would require a significant rewrite, plus mixing endpoints in not a good practice.
Closing for now ...

[2019-09-16 11:28] #46 closed

[2019-09-16 11:29] drejc commented on #41
I think @YounesRahimi fixed this one ... if not open a new issue.

[2019-09-16 11:29] #41 closed

[2020-02-09 18:44] MohiuddinM opened #51 "Does this support OpenAPI or Swagger?"

[2020-02-09 19:31] drejc commented on #51
Currently (to my knowledge) there is no swagger or openAPI generator available, to generate fully rest.vertx compatible code.

You could try using one that converts to a rest.easy output, and then provide some additional code to bind the generated API / have not tried it my self.

rest.vertx however provides a lot of additional functionality (like writers / reader and error handlers) that are bind

[2020-02-10 07:58] #51 closed

[2020-02-21 16:58] mrmx opened #52 "Add support to @ApplicationPath"
Would be great to have a base class with eg: @ApplicationPath("v1") so any subclasses will be routed relative to the base class path, eg: /v1/resource1 etc..

[2020-02-21 19:03] drejc commented on #52
Not quite sure what you have in mind, ... could you provide a code example how this would look like?

[2020-02-26 13:48] mrmx commented on #52
E.g:

`
@ApplicationPath("/v1")
@Produces("application/json")
public abstract class AbstractRestEndpointV1 {
}

//Then a child class:
@Path("/child")
public class ChildEndpoint extends AbstractRestEndpointV1 {
}
`

The ChildEndpoint class sample will inherit a common ApplicationPath and default Produces and will have an absolute path of /v1/child.
The benefits are clear inheritance ones (eg: easy

[2020-02-27 09:01] drejc commented on #52
Will take a look, should not be a problem implementing

[2020-03-01 02:50] shuitai opened #53 "How could I upload file use rest.vertx?"

[2020-03-01 02:50] shuitai commented on #53
How could I upload file with rest.vertx?

[2020-03-01 02:51] shuitai opened #54 "How to implement websocket function with rest.vertx?"
How to implement websocket function with rest.vertx?

[2020-03-01 11:11] drejc commented on #54
Rest vertx is a REST annotation processor, WebSocket are not supported. You will need to use either vertx directly or some other library.

[2020-03-01 11:11] #54 closed

[2020-03-01 11:18] drejc commented on #53
For the top of my head ... best way would be to bind a POST request and then use the @Context RoutingContext to get file uploads ...

Something like this:

@POST("upload")
public String fileUpload(@Context RoutingContext context) {
        Set<FileUpload> fileUploadSet = routingContext.fileUploads();
        Iterator<FileUpload> fileUploadIterator = fileUploadSet.iterator();
        while (fileUpl

[2020-03-01 11:18] #53 closed

[2020-03-03 09:15] shuitai commented on #54
Ok, I got it.

[2020-03-03 09:16] shuitai commented on #53
Ok, thanks, It is helpful.

[2020-03-08 06:24] shuitai opened #55 "[Bug] When Using custom annotation, the route will be incorrect"
Annotation
`
@Target(ElementType.METHOD)
@Retention(RetentionPolicy.RUNTIME)
public @interface AuditLog {
    String title() default "";
}
`

Guice Interceptor

`
@Slf4j
public class LogInterceptor implements MethodInterceptor {

    @Override
    public Object invoke(MethodInvocation invocation) throws Throwable {
        TimeInterval timer = DateUtil.timer();
        timer.start();
        Objec

[2020-03-08 19:13] drejc commented on #55
Not sure how this should be possible ... rest.vertx does not care for unknown annotations.
Can you provide a working example (simple java project - just push it to GitHub) where this issue is replicated. The "snippets" you have posted don't make much sense to me plus the formatting is messed up.  I assume there is some other issue with your set up.

PS: I have tried to replicate this with the exac

[2020-03-10 13:57] shuitai commented on #55
Please check https://github.com/shuitai/vertx-rest-example/tree/master

[2020-03-10 14:10] shuitai opened #56 "When Using custom annotation, it occurs java.lang.IllegalArgumentException: Missing or empty route '@Path'!"
Exception in thread "main" java.lang.IllegalArgumentException: Missing or empty route '@Path'!
at com.zandero.utils.Assert.isFalse(Assert.java:38) at com.zandero.utils.Assert.notNullOrEmptyTrimmed(Assert.java:89) at com.zandero.rest.data.RouteDefinition.path(RouteDefinition.java:487) at com.zandero.rest.data.RouteDefinition.join(RouteDefinition.java:252) at com.zandero.rest.AnnotationProcessor.joi

[2020-03-10 14:16] shuitai opened #57 "Provide method to change the default upload folder"
Default folder is file-uploads in vertx
Could you give us method to change default upload folder?
Such as Add BodyHandler.create().setUploadsDirectory("....") in your code.

please refer to https://github.com/shuitai/vertx-rest-example/blob/master/src/main/java/com/vertx/example/api/TestRest3.java

[2020-03-11 01:33] shuitai commented on #55
https://github.com/shuitai/vertx-rest-example/blob/master/src/main/java/com/vertx/example/api/TestRest.java

[2020-03-11 07:28] drejc commented on #55
Very interesting ... not sure what is causing this ... will take a closer look

[2020-03-11 07:29] drejc commented on #56
This is most probably a duplicate of #55

[2020-03-13 07:32] drejc commented on #55
I took a quick look an it seems the problem is caused by Guice altering the injected class annotation signature.

If you disable the following line in GuiceAdminModule:

`// bindInterceptor(Matchers.any(), Matchers.annotatedWith(AuditLog.class), logInterceptor);`

**rest.vertx** works as expected.

Not sure if this can be "fixed" on **rest.vertx** side, as **rest.vertx** relies on an intact class

[2020-03-13 07:37] drejc commented on #56
Confirmed duplicate of #55

[2020-03-13 07:37] #56 closed

[2020-03-13 08:48] shuitai commented on #55
yes, Remove the bindInterceptor, the issue will not happen, so ituse the custom annotation with guice, it will not work.

[2020-03-13 08:49] shuitai commented on #55
Could

[2020-03-13 08:52] shuitai commented on #55
In my scenario, we need AOP and define custom annotations to measure the cost time of function, or record some operations in API, I think it is very useful feature. Hope you could find way to fix it. Thanks.

[2020-03-13 20:57] drejc commented on #40
Basic @BeanParam support added, to be released in version 0.9.0

[2020-03-13 20:57] #40 closed

[2020-03-17 06:20] shuitai commented on #55
About the bug, I have submitted a pull request, please review https://github.com/zandero/rest.vertx/pull/58

[2020-03-17 07:12] drejc commented on #55
Until I push the fix ... here is a code snippet that fixes the issue.

Replace it in AnnotationProcessor.java

[code]

[2020-03-17 07:12] #55 closed

[2020-03-17 08:30] shuitai commented on #55
@ drejc , thanks, look forward for your fix, when will you release the v0.9?

[2020-03-17 08:37] drejc commented on #55
Can't promise anything ... but hopefully in the next week or two

[2020-03-20 04:50] shuitai opened #59 "Could @Get support request body?"
@GET
    @Path("/list")
    @Consumes("application/json")
    @Produces("application/json")
    @RolesAllowed("system:user:list")
    public TableDataInfo list(SysUser user, @Context HttpServerRequest request) {
        ....
    }

[2020-03-20 12:44] drejc commented on #59
By default **rest.verx** ignores body in GET requests ...
but I see that is technically as per specs allowed ...
This is however highly unusual and not wildly used by servers and clients.

https://stackoverflow.com/questions/5216567/is-this-statement-correct-http-get-method-always-has-no-message-body

[2020-03-20 12:46] drejc commented on #59
You can try and alter requestHasBody() method in RouteDefinition class and add GET ...

[code]

[2020-03-28 11:50] #52 closed

[2020-03-28 12:05] drejc opened #60 "RouteDefinition incorrectly injected via @Context"
in case we have a route

@GET
@Path("bla")
public void somePath(@Context RouteDefinition definition) {
}

The injected Context RouteDefinition is from current RoutingContext not from actual definition when path was registered. Therefore missing some essential definition parts (like @ApplicationPath)

[2020-03-31 07:31] drejc opened #61 "When using .injectWith(Guice) Vert.x produces warning"
Following code:
[code]

Vert.x produces following warning ...

**WARNING: You're already on a Vert.x context, are you sure you want to create a new Vertx instance?**

[2020-05-29 06:21] kevinstier opened #62 "ClassNotFoundException for registered response writer"
I have the following response writer:
[code]

Which is basically the same as the provided JsonResponseWriter, except for the `@Produces("application/json")`. When I register this writer as
[code]
I receive the following exception:
[code]

[2020-05-29 06:57] drejc commented on #62
As far as I can tell from the provided stack trace ... it seems like the registered writer has no media type assigned an it fails on a log statement:

[code]
Nevertheless I have tried to replicate this on my own as I see no problem with the response writer implementation and as usual it works on my machine.

So something must be problematic with the setup / or maybe a third library ... hard to tel

[2020-05-29 12:16] kevinstier commented on #62
The value of writer is Class demo.DefaultResponseWriter. The value of type is a MediaType with type "application", subtype "json" and paramaters is empty
﻿

[2020-05-29 12:59] drejc commented on #62
This seem OK, can you debug to the point failing?

On Fri, 29 May 2020 at 14:16, kevinstier <notifications@github.com> wrote:

[2020-05-29 14:30] kevinstier commented on #62
The log in the register method of WriterFactory prints MediaType in a String. This causes a call to toString() on MediaType. This method tries to get an instance for `javax.ws.rs.ext.RuntimeDelegate` with fallback class `org.glassfish.jersey.internal.RuntimeDelegateImpl`, but is unable to find both.

The same exception is thrown when I register the writer as:
`RestRouter.getWriters().register(Medi

[2020-05-29 14:35] drejc commented on #62
Jap ... this is what I was assuming from the first stack trace ...

In my local project I see a reference to: org.glassfish.jersey.core:jersey-common:2.22.2
and I have the following test dependecy:
 <dependency>
            <groupId>org.glassfish.jersey.core</groupId>
            <artifactId>jersey-common</artifactId>
            <version>${version.glassfish}</version>
            <scope>test</sco

[2020-05-29 15:05] kevinstier commented on #62
This solved the problem! Thank you

[2020-05-29 15:05] #62 closed

[2020-06-01 08:07] drejc opened #63 "Remove glassfish.jersey.core dependency"
Remove not needed dependency ... if possible
[code]

[2020-06-03 07:18] #63 closed

[2020-06-03 07:18] drejc commented on #63
Dependency only needed in case Response builder is used

[2020-06-03 09:07] drejc commented on #57
Available in version 0.9.1

[2020-06-03 09:07] #57 closed

[2020-06-08 12:43] kevinstier opened #64 "401 Unauthorized when user does not have required role"
`RestRouter.java` seems to always reply with 401 Unauthorized when `isAllowed(User user, RouteDefinition definition)` equals false. According to multiple forums, including [Stack Overflow](https://stackoverflow.com/questions/3297048/403-forbidden-vs-401-unauthorized-http-responses), a 401 should only be used when the user is not authenticated. If the user does not have the required role (`@RolesAl

[2020-06-08 14:01] drejc commented on #64
Had a look at the code, and currently the 401 response is more or less fixed / can't be altered.
Will add option to provide custom handler to handle authorization/authentication responses.

[2020-06-08 14:04] kevinstier commented on #64
Thank you

[2020-06-20 13:21] drejc opened #65 "Writer for object type can't be used for List of objects"
If we implement a writer for an object type ... then it work on REST like this:

`T writeMyObject()`

but doesn't work on:

`List<T> writeListOfMyObjects()`

Also improve simple mapping if for instances like: objectA -> objectB as JSON with generic object -> toJsonObject writer / mapper binding

[2020-06-20 13:24] drejc opened #66 "Registered ValueReader not used to decode query parameters unless explicitly stated"
REST like this work

[code]

but not like this (or globally registered):
[code]

Plus registered reader doesn't necessary need a @Consumes annotation

[2020-06-20 13:27] drejc opened #67 "Improve not found handling"
Last handler / resource not found handling must be improved.
Currently it's a little bit confused where handlers needed to be placed

[2020-06-20 19:08] #66 closed

[2020-06-21 10:34] #65 closed

[2020-06-22 08:32] drejc commented on #61
Additionally also:
[code]

[2020-06-29 15:53] nhmarsh opened #78 "Add suspendable function support to asynchronous response types"
Currently, the code at [RouteDefinition](https://github.com/zandero/rest.vertx/blob/master/src/main/java/com/zandero/rest/data/RouteDefinition.java#L733) attempts to identify if a function is `suspendable` - however, when invoking that method, it fails to provide the correct `CoroutineContext` to the function being invoked. While this code is not written in `Kotlin` and therefore will likely lack

[2020-06-29 17:31] drejc commented on #78
Have you tried https://github.com/YounesRahimi/rest.vertx-kotlin-coroutines ?
The suspend part was written by @YounesRahimi as far as I remember I have only merged his solution.
Maybe @YounesRahimi can take a look how to improve this.

[2020-06-29 18:00] nhmarsh commented on #78
I have not seen that. I'll have a look and see if that fixes the issue.

[2020-07-10 10:22] activey opened #79 "Cannot use null enum value in REST endpoint url"
Hi,

We like your library very much! But ...
We have a rest endpoint defined with an enum value as query param. Unfortunately it does not really work well when passing null enum value:

[code]

Just saying ;)

[2020-07-10 10:36] activey commented on #79
Allright, we did it with implementing fromString() ;)

[2020-07-10 10:36] #79 closed

[2020-07-10 10:37] drejc commented on #79
Can you provide some code/working example? Hard to figure out what the
problem is without.

On Fri, 10 Jul 2020 at 12:22, Łukasz Grabski <notifications@github.com>
wrote:

[2020-07-19 14:04] shuitai opened #81 "Support Swagger or Open API"

[2020-07-20 07:22] drejc commented on #81
This one is already on the TODO list. And up for grabs for anyone who wants to participate.

[2020-09-16 18:17] drejc commented on #67
Default notFound always last

[2020-09-16 18:17] #67 closed

[2020-09-16 18:43] drejc commented on #64
The "new" logic is to bind a exception handler to the UnauthorizedException in order to influence the response

[code]

Where:
[code]

[2020-09-16 18:43] #64 closed

[2020-09-16 18:52] drejc opened #82 "Rewrite authorization/authentication flow"
Due to braking changes in vert.x 4 the authorization/authentication flow needs a rewrite.

[2020-09-16 20:11] #59 closed

[2020-09-17 18:02] #60 closed

[2020-10-16 16:25] nuty456 opened #87 "HttpMethod problem in vertx4"
Hello, there is difference in vertx4, whole new different io.vertx.core.http.HttpMethod in vertx core.

[2020-10-16 21:26] drejc commented on #87
**rest.vertx** is not jet compatible with **vertx4**, as **vertx4** deprecates some things and brings other changes.
As far as I'm aware there is not a final **vertx4** release, once it will be published I will migrate / release a rest.vertx version for **vertx4**. Until then use the latest **vertx3** version.

[2020-10-16 21:26] #87 closed

[2020-10-31 01:37] shuitai opened #88 "The detailed exception is hidden when fail to getInstance"
try {
                instance = provider.getInstance(clazz);
                if (instance == null) {
                    throw new ClassFactoryException("Failed to getInstance class of type: " + clazz.getName() + ", with injector: " +
                            provider.getClass().getName() + "!", null);
                }
            } catch (Throwable e) {
                throw new ClassFactory

[2020-10-31 08:30] drejc commented on #88
Please provide a little more info, about what you are seeing right now and what your desired output would look like.

[2020-12-04 06:08] shuitai opened #90 "Could you add Interceptor in path route like spring?"
For example
@Interceptor(xxxx.class)
@Get(value = "/getSADeviceById", produces = "application/json")

public interface HandlerInterceptor {
    default boolean preHandle(HttpServerRequest request, HttpServerResponse response, Object handler) throws Exception {
        return true;
    }

    default void postHandle(HttpServerRequest request, HttpServerResponse response, Object handle) throws Excep

[2020-12-04 07:03] drejc commented on #90
In you can user readers and writers to achieve this, and there are also other options how to de-serialize/serialize a request.

For instance:
**Read the request - serialize it to an object**
[code]

**the REST**
[code]

**Output the response**
[code]

Please read up in the documentation how to bind readers and writers correctly and how to handle exceptions.

[2020-12-04 07:31] drejc commented on #88
Don't know what the "details" should be ... closing issue.

[2020-12-04 07:31] #88 closed

[2020-12-05 03:32] shuitai commented on #90
How do I get the path param, query param or header information in ValueReader?

[2020-12-05 09:36] drejc commented on #90
Please read the documentation ...
you can either use the @PathParam or the @QueryParam annotations and there are a lot of additional options to deserialize the request.
Alternatively you can "join" the request and deserialize with @BeanParam ..
Depends on you use case.

[2020-12-05 09:36] #90 closed

[2020-12-07 10:32] dariolicci opened #92 "mountSubRouter"
Hi,
I have this problem, in my Router extending RouterImpl, I add these paths:

route ("/ user / login"). handler (velocityHandler);
mountSubRouter ("/ api / v2", new RestBuilder (this) .register (UserRestapiController.class) .build ());

The problem is that the secondary router always works, either by executing the request /api/v2/user/login or /user/login, but it should only work for /api/v2/use

[2020-12-07 12:18] dariolicci commented on #92
Hi,
I corrected my implementation with this change:
before: mountSubRouter ("/ api / v2", new RestBuilder (this) .register (UserRestapiController.class) .build ());
now: mountSubRouter ("/ api / v2", new RestBuilder (vertx) .register (UserRestapiController.class) .build ());

regards

[2020-12-07 12:18] #92 closed

[2020-12-07 13:49] drejc commented on #92
Glad you made it work ... didn't even know this combination was possible ;)

[2020-12-13 01:57] shuitai commented on #90
I read then document many times...., because they cannot satisfy my requirement.
Because I want to use single reader handler to do uniform thing, then I can apply it in specific route path.

For example
@interceptor(AuditLog.class)
@get(value = "/getSADeviceById", produces = "application/json")
ApiResponse getDevice(@Context context)

Currently, I used to do by guice interceptor(AuditLog.java)
I n

[2020-12-13 13:51] shuitai opened #95 "About Interceptor"
Please read the documentation ...
you can either use the @PathParam or the @QueryParam annotations and there are a lot of additional options to deserialize the request.
Alternatively you can "join" the request and deserialize with @BeanParam ..
Depends on you use case.

_Originally posted by @drejc in https://github.com/zandero/rest.vertx/issues/90#issuecomment-739152656_

[2020-12-13 13:52] shuitai commented on #95
I read then document many times...., because they cannot satisfy my requirement.
Because I want to use single reader handler to do uniform thing, then I can apply it in specific route path.

For example
@interceptor(AuditLog.class)
@get(value = "/getSADeviceById", produces = "application/json")
ApiResponse getDevice(@context context)

Currently, I used to do by guice interceptor(AuditLog.java)
I n

[2020-12-13 16:32] drejc commented on #90
If you only want to log/inspect your request before it hits the api handler you can simply add a handler before registering RESTs.

For instance:

[code]

Read up on the LoggerHandler provided by vertx to alter to your own taste.

Hope this helps.

[2020-12-14 05:05] shuitai commented on #90
But this solution is not very convenient, if could support annotation, it will be more helpful. So If you could put the RoutingContext (Or HttpServerRequest) in ValueReader or RequestReader like ResponseWriter, it will be very helpful, but currently, there is only string type.

[2021-02-22 13:37] kruckerr opened #102 "IllegalArgumentException when register ExceptionHandler"
I registered a customized exception handler by using RestRouter.getExceptionHandlers().register(exceptionHandlerClass). I have several vertx unit tests, that starts the http server. The first test runs fine, but all others fail due to an IllegalArgumentException when it registers my customized exception handler.

[2021-02-22 13:49] drejc commented on #102
Can you paste a code snippet of you unit test ... hard to tell what is wrong.
You can also take a peek at [/RouteExceptionHandlerTest.java](https://github.com/zandero/rest.vertx/blob/master/src/test/java/com/zandero/rest/RouteExceptionHandlerTest.java) where those type of situations are tested.

[2021-02-22 14:23] kruckerr commented on #102
This is my test class. Just running this tests work fine when I start the server before running all tests. Initially, I startet the server before each test. Then I had the issue. But I have a second test class, that starts the server as well and when I run the tests of both test classes, the tests of the second classes will fail. The problem seem to be the static member "forge" in RestRouter, that

[2021-02-22 15:37] drejc commented on #102
You are correct handlers, readers, writers ... etc. are all cached once registered. This is a feature of the library.
If you take a look at my base test class: [VertxTest](https://github.com/zandero/rest.vertx/blob/76b2546e733f0d24bda2ef2a346cb00d98ee7d63/src/test/java/com/zandero/rest/VertxTest.java#L15)

you will see that I have a  before() method that cleans all caches.

[code]

All my tests ar

[2021-02-23 06:02] kruckerr commented on #102
That's fine for me. I will do so as well. Thank you.

[2021-02-23 06:02] #102 closed

[2021-02-23 06:09] kruckerr commented on #102
The last release is already some time ago and there are many useful commits in the meantime. What are your plans. Are you going to create a release soon? And do you have plans to migrate to Vert.x 4?

[2021-02-23 06:53] drejc commented on #102
The next release will be coming soon, I'm currently in the process of migrating to Vert.x 4 as they are some breaking changes. So stay tuned.

[2021-02-27 11:33] #82 closed

[2021-03-03 22:47] #95 closed

[2021-03-03 22:48] drejc commented on #95
There are multiple other ways to achieve this with vert.x handlers.
This is out of scope of this library

[2021-03-03 22:51] drejc commented on #78
@nhmarsh is this still an open issue? I have not had the time to check this with Kotlin.

[2021-03-04 12:59] kruckerr opened #106 "Authentication does not work as in example"
Hi

I tried the newest version (1.0.4) with Vert.x 4.0.2. But I have problems with the authorization. We are working with JWT tokens.

First I migrated to the new version without changing my code. When I call a REST path annotated with `@RolesAllowed("Admin")`, I get a 403 (Forbidden) response event though the token contains the "Admin" permission. Before the upgrade, this worked fine.
[code]

The

[2021-03-04 13:18] drejc commented on #106
Hard to tell only from the REST enpoints .. but the new Authorize/Authenticate dance is always as follows

The RestAuthenticationProvider must read the Credentials ... aka headers in request or similar
Those Credentials are then handed over to the authenticate method where a User entity must be generated as a result

The Authorization provider then takes this User entity and checks if User is in c

[2021-03-04 14:50] kruckerr commented on #106
OK. Now I understand. In my case, the User is created by the `io.vertx.ext.auth.jwt.JWTAuth` when I authenticate with my JWT token. This user has the PermissionBasedAuthorization. The default authorization provider is `com.zandero.rest.authorization.RoleBasedUserAuthorizationProvider`. So it will never match. Is there a possibility to override the default authorization provider or do I have to def

[2021-03-04 16:16] drejc commented on #106
The RoleBasedAuthorizationProvider is the default provider assigned it should be overriden by the provider given in the @Authorize method/class. The @Authenticate should also work for both class and method annotations. Will take a second look, but to my knowledge I have some test with both options and all work fine.

[2021-03-04 16:47] kruckerr commented on #106
Shouldn't it take the authentication and authorization provider from base when call the RouteDefinition constructor for a method.
[code]

[2021-03-04 17:58] drejc commented on #106
You are correct ... somehow I missed that ... nice catch ... will release a new version

[2021-03-04 19:09] #106 closed

[2021-03-04 19:49] drejc commented on #106
1.0.5 version is published,
I have also improved the RouteDefinition log / print out - so you should see the assigned Authorization/Authentication of each route:

[code]

[2021-03-04 19:49] #78 closed

[2021-03-05 06:03] kruckerr commented on #106
Now it works fine. Thank you for your fast help.

[2021-03-05 08:13] drejc commented on #106
👍

[2021-03-15 15:44] activey opened #108 "Multipart requests support?"
Hi,

Is there any way I can handle multipart requests? Eg, I'd like to support file upload.

Thanks in advance.

[2021-03-15 18:04] drejc commented on #108
Should be possible ...
have you tried something like this:

[code]

The only thing that is missing is a way to set the UploadsDirectory ... ie:
so you would need to set a body handler ...

BodyHandler bodyHandler=BodyHandler.create().setUploadsDirectory(FILE_LOCATION));
RestRouter.setBodyHandler(bodyHandler);

[2021-03-16 12:01] activey commented on #108
Yeah, found it recently under tests directory :) Thanks.

[2021-03-16 12:01] #108 closed

[2021-03-16 12:03] drejc commented on #108
I see that there is no documentation of this ... I will add an example snippet.

[2021-03-16 13:48] activey commented on #108
:+1:

[2021-03-16 18:02] dariolicci opened #109 "Response head already sent"
Hi,
I am working with 0.9.0 version with vert.x 3, and the follow code generate this error:
IllegalStateException@151 "java.lang.IllegalStateException: Response head already sent"

    @POST
    public void post(@Context HttpServerResponse response, @Context Vertx vertx, JsonObject user) {
        vertx.eventBus().request(UserService.EVENT_ADDRESS_USER_SERVICE_SAVE,  user, replyHandler -> {

[2021-03-16 18:12] drejc commented on #109
Probably a default response writer was assigned (if you have not assigned one yourself)?

In order to handle the response yourself you need to create your own HttpResponseWriter where the response is not altered, because you are handling the response inside the eventbus reply handler.

... but a nicer solution would be ...

to make the result of the eventBus() operation the return value of the RES

[2021-03-16 21:24] dariolicci commented on #109
Hi Andrej,

I change my code:

    @POST
    @ResponseWriter(AsyncResponseWriter.class)
    public HttpServerResponse post(@Context HttpServerResponse response, @Context Vertx vertx, JsonObject user) {
        vertx.eventBus().request(UserService.EVENT_ADDRESS_USER_SERVICE_SAVE,  user, replyHandler -> {
            if (!replyHandler.succeeded()) {
                response.setStatusCode(400);

[2021-03-17 09:38] drejc commented on #109
You REST method needs to return an Future / Promise in order to be recognized as async.
See: [Async request]( https://github.com/zandero/rest.vertx#async)

[2021-03-17 09:40] dariolicci commented on #109
Hi Andrej,
I find this code

    /**
     * @param returnType of REST method
     * @return true if async operation, false otherwise (blocking operation)
     */
    static boolean isAsync(Class<?> returnType) {
        return checkIfCompatibleTypes(returnType, Future.class, Promise.class);
    }

Yes I return a Promise

thanks
Dario

[2021-03-17 09:42] drejc commented on #109
Can you give me the complete snippet ... your REST endpoint and the Writer implementation. Hard to tell from the description alone / or better jet ... if you can write a unit test

[2021-03-17 09:44] dariolicci commented on #109
sure as soon as I can make it work I send you the writer and the endpoint

[2021-03-17 16:52] dariolicci commented on #109
Hi Andrej,
this is the Writer:

@Produces("application/json")        // content-type header
// @Header("X-Status: I'm a dummy")    // additional static headers
public class AsyncResponseWriter implements HttpResponseWriter<Promise<JsonObject>> {

    @Override
    public void write(Promise<JsonObject> result, HttpServerRequest request, HttpServerResponse response) throws Throwable {
        System

[2021-03-18 15:48] dariolicci commented on #109
Hi Andrej,
not using my writer works, than only with this:

    @POST
    public Promise<JsonObject> post(@Context Vertx vertx, JsonObject user) {
        Promise<JsonObject> promise = Promise.promise();
        vertx.eventBus().request(UserService.EVENT_ADDRESS_USER_SERVICE_SAVE,  user, replyHandler -> {
            if (!replyHandler.succeeded()) {
                promise.fail(replyHandler.cause(

[2021-03-18 17:59] drejc commented on #109
Hi @dariolicci  ... I have added a simple unit test to demonstrate what I think you are trying to achieve ... check out: TestIssue109Rest / with Issue109Test ... hope this clears things up.

[2021-03-18 17:59] #109 closed

[2021-03-19 09:32] kruckerr opened #110 "NoContentResponseWriter does not return response"
Hi

The NoContentResponseWriter should call the `.end()` method on the HttpServerResponse.

[code]

I solved it now with a own HttpResponseWriter implementation. So it is not critical for me.

Thanks

[2021-03-19 10:17] drejc commented on #110
Nice catch ... will fix

[2021-03-19 10:25] #110 closed

[2021-09-26 14:40] iPonder opened #120 "version 1.0.5 RouteDefinition BODY_HANDLER_PARAMS not include context"
<img width="1094" alt="图片" src="https://user-images.githubusercontent.com/10516978/134812397-f2297086-e25f-47c7-b7a0-9642a101a1cc.png">

<img width="1266" alt="图片" src="https://user-images.githubusercontent.com/10516978/134812429-b185c912-d292-43a5-b042-51249e72e97d.png">

sorry, my english is not good

[2021-09-27 06:34] drejc commented on #120
You are correct ... and this has already been fixed in https://github.com/zandero/rest.vertx/commit/1433ad843650a71c2d164d3fabe55251755b6a36 but is not jet released.

[2021-09-27 06:34] #120 closed

[2022-01-14 12:40] #61 closed

[2022-01-20 13:25] jay-peper opened #123 "java 17 compatibility (TypeVariableImpl)"
When trying to run a project that uses rest.vertx with a java-17 jdk, we get the following exception:

[code]

It appears that the error is related to this line: https://github.com/zandero/rest.vertx/blob/8b7258e07a10f0319e28abdf4e5990cc3a1633bf/src/main/java/com/zandero/rest/data/ClassUtils.java#L100

[2022-01-21 16:17] drejc commented on #123
`TypeVariableImpl` is part of the `sun.reflect.generics.reflectiveObjects` lib ...
it might be that this was either moved or deprecated in java 17.

I must take a deeper look how to solve this issue ...

[2022-02-02 09:51] jay-peper commented on #123
It seems we have to migrate away from this lib anyway, so no issue for us any more

[2022-02-02 09:51] #123 closed

[2022-04-07 20:01] drejc commented on #123
FYI: Incompatibility with Java 17 (and earlier) are now with version 1.1 fixed

[2022-08-22 14:44] swcm-mpilz opened #134 "RestBuilder violates Vert.x 4.3's handler ordering"
### Description
[Since vert.x 4.3 the order in which routes are registered is checked](https://vertx.io/blog/whats-new-in-vert-x-4-3/#vertx-web) by `io.vertx.ext.web.impl.RouteState`.
Using `rest.vertx` with vert.x 4.3 can lead to an error in specific circumstances:
[code]
This can be circumvented by setting the `io.vertx.web.router.setup.lenient` property to `true`, but even then a `WARNING` is l

[2022-08-22 15:40] drejc commented on #134
Thanks for reporting this issue ... I will look into it and adjust the route registration order accordingly.
Meanwhile you might circumvent the issue by setting the route order by hand with the @RouteOrder(number) annotation.
It was not intended for this purpose but might do the trick.

[2022-08-30 08:19] drejc commented on #134
I have hopefully fixed this / have not tested extensively but unit tests work just fine.
Please report if you find additional problems.

[2022-08-30 08:19] #134 closed

[2022-08-30 10:14] swcm-mpilz commented on #134
Thank you very much, it seems to work flawlessly!